<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container text-center mt-5">

    <h1 class="mb-4">🌦 Weather App</h1>

    <!-- Form -->
    <form method="POST">
        <input type="text" name="city" placeholder="Enter city" required>
        <button class="btn btn-warning">Search</button>
    </form>

    <!-- Error -->
    {% if error %}
        <p class="text-danger mt-3">{{ error }}</p>
    {% endif %}

    <!-- Weather -->
    {% if weather %}
    <div class="card mt-4 p-4 shadow">

        <h2>{{ weather.city }}</h2>

        <div class="text-center">
    <img class="d-block mx-auto mb-3" 
     src="https://openweathermap.org/img/wn/{{ weather.icon }}@2x.png" 
     width="80">
</div>

        <p>🌡 {{ weather.temperature }} °C</p>
        <p>🤗 Feels Like: {{ weather.feels_like }} °C</p>
        <p>💧 Humidity: {{ weather.humidity }}%</p>
        <p>💨 Wind: {{ weather.wind }} m/s</p>
        <p class="text-capitalize">{{ weather.condition }}</p>
        <p class="text-muted">{{ weather.time }}</p>

    </div>
    {% endif %}

    <!-- Forecast -->
    {% if weather and weather.forecast %}
    <div class="mt-4">
        <h4>📊 5-Day Forecast</h4>

        {% for f in weather.forecast %}
            <p>{{ f.time }} → {{ f.temp }}°C</p>
        {% endfor %}
    </div>
    {% endif %}

    <!-- History -->
   {% if history %}
<div class="mt-4">
    <h4>🔍 Search History</h4>

    {% for city in history %}
        <form method="POST" style="display:inline;">
            <input type="hidden" name="city" value="{{ city }}">
            <button class="badge bg-secondary m-1 border-0">
                {{ city }}
            </button>
        </form>
    {% endfor %}

</div>
{% endif %}

</div>

</body>
</html>